@import '../node_modules/pixel-borders/src/styles/pixel-borders.scss';

.OuterRadius {
  padding: 6px;

  @include pixel-borders(
    $corner-size: 2,
    $border-size: 3px,
    $border-color: #000
  );

  border-style: solid;
  border-width: 6px;
  border-radius: 40px;
  border-color: #000;
}

.LayoutNav {
  @include pixel-borders(
    $corner-size: 2,
    $border-size: 6px,
    $border-color: #000,
    /* $border-inset-color: rgba(0, 0, 0, 0.3) */
  );

  border-style: solid;
  border-width: 6px;
  border-radius: 40px;
  border-color: #000;
  background-color: aliceblue;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding-left: 0;
    li {
      position: relative;
      font-size: 1em;
      list-style: none;
    }
  }
}

@media (min-width: 801px) {
  .OuterRadius {
    max-width: 80%;
    margin: auto;
    .LayoutNav {
      ul {
        li {
          font-size: 3em;
        }
      }
    }
  }
}
